<div class="background-container">
  <div class="particles"></div>
</div>
<div class="container-box">
  <div class="row">
      <div class="col-sm-12">
          <div class="login-container">
              <img src="/assets/images/logo.png" alt="this image"/>
              <h1>LOGIN</h1>
              <div class="flex flex-column gap-4">
                  <label htmlFor="username">Username</label> &nbsp;
                  <input pInputText id="username" aria-describedby="username-help" />
                  <i class="pi pi-user" style="color: #708090; margin-left:-22px;" ></i>
              </div>
              <br>
              <div class="flex flex-column gap-2">
                  <label htmlFor="password">Password</label> &nbsp;
                  <input pInputText id="password" aria-describedby="password-help" />
                  <i class="pi pi-eye-slash" style="color: #708090; margin-left:-22px;" ></i>
              </div>
              <br>
              <button pButton pRipple label="SIGN IN" class="p-button-success"></button>
              
      </div>
      <br>

      <label routerLink="#" class="pass">Change Password</label>
  </div>
</div>
</div>
